#header{
    text-align: center;
    font-size: 43px;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-bottom:10px;
}

.main{
      margin: auto;
      border-style: solid;
      height:400px;
      width: 410px;
      background-color:blanchedalmond;
}


#remove {
    position: absolute;
    top: 1px;
    right: 5px;
    padding: 5px 8px 5px 10px;
}

#remove:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}
  

#addBtn{
    margin-left: 5px;
    height: 30px;
    width: 60px;;
}
  
#addBtn:hover {
    background-color: green;
    color: white;
}

#delBtn {
    height: 30px;
    margin-left: 5px;
    width: 130px;
}

#delBtn:hover {
    background-color: red;
    color: white;
}

.inputField {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.actions{
    padding:5px;
    background-color: blanchedalmond;
}

.storage {
    margin-left: 20px;
    padding: 5px;
}


.todoList .listItem {
    position: relative;
    list-style-type: none;
    font-size: 22px;
    font-weight: bold;
}

.todoList .listItem:hover {
    background: #ddd;
}
   
.todoList{
    
    overflow-y: scroll;
    height: 300px;
    width: 400px;
    padding-left: 0;
    margin: auto;
    
}

.tick{
    transform:scale(2);
    margin:10px;
}

.tick:checked + span {
    color: rgb(136, 0, 0);
    text-decoration: line-through;
}

.alltasks{
    text-align: center;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: 10px;
 }